#bs-override .table-v-center td{
    vertical-align: middle;
}

#bs-override .form-category input{
    width: 100%;
}

#bs-override .col-padding{
    padding-top: 8px;
}

#bs-override .row-v-center {
    display: flex;
    align-items: center;
}

#bs-override textarea{
    resize: vertical;
}

#bs-override .panel-heading btn{
    margin-left: 4px;
}

body{
    padding-top: 70px;
}

.hor-separator{
    display: block;
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
    height: 16px;
}

.filtered-picker .well{
    min-height: 200px;
}
.filtered-picker-item{
    display: inline-block;
    margin: 1px;
}
.filtered-picker-subtext{
    margin: 0;
    padding: 1px 0px;
    font-style: italic;
    color: #cfcfcf;
}

/* animations */
@keyframes fade-in{
	from{
        
        opacity: 0;
	}
	to{
        
        opacity: 1;
	}
}

@keyframes fade-out{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

.container{
    position: relative;
}

ui-view, [ui-view]{
    
}

ui-view.ng-leave,
[ui-view].ng-leave{
    display: none;
}
ui-view.ng-enter,
[ui-view].ng-enter{
    display: block;
    animation: 0.25s fade-in;
}