<div class="row">
    <h2 class="col-xs-12">Question categories</h2>
</div>

<div class="row">
    <table class="table table-responsive table-hover table-v-center">
        <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td ng-bind="item.name"></td>
                <td ng-bind="item.description"></td>
                <td>
                    <button class="btn btn-default" ng-click="viewCategory(item);">View</button>
                    <button class="btn btn-primary" ng-click="editCategory(item);">Edit</button>
                    <button class="btn btn-danger" ng-click="deleteCategory(item);">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>