<div class="container-fluid">
    <div class="row">
        <form class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 form-horizontal">
            <h2>Edit the user account</h2>

            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" class="form-control" placeholder="Username" id="name" ng-model="data.userData.name">
            </div>
            <div class="form-group">
                <label for="desc">Details</label>
                <textarea class="form-control" placeholder="Description" id="desc" ng-model="data.userData.details"></textarea>
            </div>
            <!-- Control to set if the user has admin privileges -->
            <div class="form-group">
                <label>Privilege settings</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="data.userData.admin">This user is an administrator
                    </label>
                </div>
            </div>
            <!-- Password editing options -->
            
            <div class="form-group">
                <label for="pass1">Password</label>
                <input type="password" class="form-control" placeholder="Password" id="pass1" ng-model="data.userData.password">
            </div>
            <div class="form-group">
                <label for="pass2">Repeat password</label>
                <input type="password" class="form-control" placeholder="Password" id="pass2" ng-model="data.userData.passwordConfirmation">
            </div>
            
            
            <!-- Test templates to assign to this user -->
            <div class="row">
                <label>Test templates</label>
                <!-- Pick the templates to add -->
                <div class="col-xs-12">
                    <filtered-picker fp-array="data.allTests" fp-target-array="data.userData.tests" fp-push-method="actions.addTest(arg);" fp-id-property="id" fp-filter-property="name" fp-title="Add a test template"></filtered-picker>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default" ng-repeat="test in data.userData.tests">
                        <div class="panel-heading">
                                <div class="row row-v-center">
                                    <div class="col-xs-8 text-left">
                                        <span class="panel-title" ng-bind="test.name"></span>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <button class="btn btn-sm btn-danger" ng-click="actions.removeTest(test);">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        <div class="panel-body" ng-bind="test.description">
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="form-group">
                <button class="btn btn-primary" ng-click="actions.update()">Update</button>
                <button class="btn btn-warning" ng-click="actions.cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>