<div class="container-fluid">
    <!-- for search results -->
    <ui-view></ui-view>
    <!-- normal view -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row row-v-center">
                    <div class="col-xs-8 text-left">
                        Test templates
                    </div>
                    <div class="col-xs-4 text-right">
                        <button class="btn btn-sm btn-primary" ng-click="actions.addTest();">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body" ng-if="data.items.length > 0">
                <table class="table table-hover table-v-center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data.items">
                            <td ng-bind="item.name"></td>
                            <td ng-bind="item.description"></td>
                            <td class="text-nowrap">
                                <button class="btn btn-primary hidden-xs" ng-click="actions.editTest(item);">Edit</button>
                                <button class="btn btn-danger hidden-xs" ng-click="actions.deleteTest(item);">Delete</button>

                                <button class="btn btn-primary visible-xs-inline" ng-click="actions.editTest(item);">
                                    <span class="fa fa-pencil"></span>
                                </button>
                                <button class="btn btn-danger visible-xs-inline" ng-click="actions.deleteTest(item);">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>